@import "../../../utils/web_colors.scss";
@import "../../../utils/general-web-mixins/main-web-utls.scss";
@import "../../../utils/general-web-mixins/main-button-mixin.scss";

h1 {
  @include web-title-special($pref-font-size: 3em, $pref-font-st: normal);
  padding: 30px;
}

main#certificates-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  position: relative;
  margin: 20px;

  article#certificates {
    width: 40%;
    background-color: $secondary-web-color;
    border-radius: 8px;

    div.certificates-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      div.certificate-item {
        width: 100%;
        padding: 30px;
        border-bottom: 2px solid $main-web-color;

        h4 {
          @include web-title-special($pref-font-size: 2em, $pref-font-st: normal);
          color: white;
          font-weight: 300;
          padding: 20px;
        }

        p {
          @include def-web-text($pref-font-size: 1.5em, $pref-font-st: normal);
        }

        img#verify-logo {
          width: 20px;
          height: auto;
          display: inline-block;
        }

        &:hover {
          background-color: rgba(0, 141, 170, 0.65);
        }
      }
    }
  }

  article#certificate-display {
    width: 70%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
  }
}