@import "../../../utils/web_colors.scss";
@import "../../../utils/general-web-mixins/main-web-utls.scss";
@import "../../../utils/general-web-mixins/main-button-mixin.scss";

h1 {
   @include web-title-special($pref-font-size: 2em, $pref-font-st: normal);
}

main#certificates-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;

  article#certificates {
    background-color: $secondary-web-color;
  }

  article#certificate-display {
    div.upload-certificate {

      h3 {
        @include web-title-special($pref-font-size: 1.5em, $pref-font-st: normal);
        padding: 20px;
      }

      background: #ffffff;
      border-radius: 12px;
      width: 35rem;
      height: auto;
      display: flex;
      padding: 30px;
      flex-direction: column;

      .form-group label {
        display: inline-block;
        @include def-web-text($pref-font-size: 1.5em, $pref-font-st: normal);
        margin-bottom: 5px;
        font-weight: 500;
      }

      .form-group input[type="text"],
.form-group textarea {
    padding: 8px;
    border: 1px solid $secondary-web-color;
    border-radius: 4px;
    @include def-web-text($pref-font-size: 1em, $pref-font-st: normal);

  &:focus-visible {
    border: 1px solid $eccentric-color;
  }
}

      form[method='post'] {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;

        button.filled-web-btn {
    padding: 0 20px;
      text-align: center;
      @include main-button($arg-width: 80%, $arg-height: 45px, $arg-bg-color: $additional_web_color, $txt-color: $main-web-color);
      border-radius: 8px;
      font-size: 1.1em;
      font-weight: 700;
      line-height: 45px;
      border: 2px solid $main-web-color;

      &:hover {
        transform: translateY(-2px);
        transition: transform 0.2s linear;
      }
  }
      }
    }
  }
}