<section id="faq-cont">
    <h1>Special<span>List</span> – Frequently Asked Questions (FAQs)</h1>
    <ol>
        <li>
            <details>
                <summary>What is SpecialList?</summary>
                <p>Our forecasts are updated every 15-30 minutes using real-time data from global meteorological sources. Severe weather alerts are instant.</p>
            </details>
        </li>
        <li><details>
            <summary>How do I sign up?</summary>
            <p>You can sign up by clicking the "Sign Up" button on the homepage. Fill in your details, verify your email, and start exploring services or listing your own.</p>
        </details></li>
        <li>
            <details>
                <summary> Is SpecialList free to use?</summary>
                <p>Yes, creating an account and browsing services is free. However, some premium features or service bookings may require payment.</p>
            </details>
        </li>
    </ol>
</section>