<div id="first-caption-comp">
    <div class="text-wrapper">
        <h1 id="web-title">Welcome to Special<span>List</span></h1>
        <p>Why look everywhere and risk losing when everything is in one place. A platform verified by skilled professionals</p>
    </div>
    <div class="buttons-cont-cap-first">
        <button class="filled-web-btn">Get Started</button>
        <button class="emp-web-btn">Learn More</button>
    </div>
    <div id="stats-cont">
        <ul id="stats-list">
            <li class="lst-cap-comp">
                <h4>30K+</h4>
                <p>Customers</p>
            </li>
            <li class="lst-cap-comp">
                <h4>#1 Trusted+</h4>
                <p>Most used service platform</p>
            </li>
            <li class="lst-cap-comp">
                <h4>20+ Country partners</h4>
                <p>Regions and governments enforcing verification</p>
            </li>
        </ul>
    </div>
</div>