<header id="head-sect">
    <div class="header-container">
        <button class="hamburger-btn" aria-label="Menu" aria-expanded="false">
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
        </button>

        <h1 class="web-title">Special<span>List</span></h1>

        {% if user.is_authenticated %}
            <div class="auth-section">
                <p class="welcome-message">Welcome, {{ user.username }}!</p>
                {% if user.profile_picture %}
                    <a href="{% url 'account_view' user.username %}" class="profile-link">
                        <img id="profile-photo" src="{{ user.profile_picture.url }}"
                             alt="{{ user.get_full_name|default:user.username }}">
                    </a>
                {% else %}
                    {% load static %}
                    <a href="{% url 'account_view' user.username %}" class="profile-link">
                        <img id="profile-photo" src="{% static '/images/avatar-default-photo.png' %}"
                             alt="{{ user.get_full_name|default:user.username }}">
                    </a>
                {% endif %}
                <a href="{% url 'logout' %}">
                    <img class="logout-img" src="{% static 'images/logout.png' %}" alt="logout icon"/>
                </a>
            </div>
        {% else %}
            <div class="auth-section">
                <button class="filled-web-btn">
                    <a href="{% url 'register' %}">Sign In</a>
                </button>
            </div>
        {% endif %}
    </div>

    <div class="side-panel">
        <nav class="main-nav">
            <ul class="links-holder">
                <li><img class="header-icon" src="{% static 'images/home-icon.png' %}" alt="home icon"/><a
                        class="link-web" href="{% url 'home' %}">Home</a></li>
                <li><img class="header-icon" src="{% static 'images/about-page-icon.png' %}" alt="about page icon"/><a
                        class="link-web" href="{% url 'about' %}">About</a></li>
                <li><img class="header-icon" src="{% static 'images/explore-icon.png' %}" alt="explore page icon"/><a
                        class="link-web" href="{% url 'explore_services' %}">Explore Services</a></li>
                <li><img class="header-icon" src="{% static 'images/messages-icon.png' %}" alt="chats page icon"/><a
                        class="link-web" href="{% url 'explore_conversations' %}">Chats</a></li>

                {% if user.is_authenticated %}
                    {% if not user.is_staff %}
                        <li>
                            <img class="header-icon" src="{% static 'images/notification-icon.png' %}"
                                 alt="notifications icon"/>
                            <span class="badge-count">{{ unread_count }}</span>
                            <a class="link-web" href="{% url 'notifications' user.get_username %}">Notifications</a>
                        </li>
                    {% endif %}

                    {% if user.is_staff %}
                        <li>
                            <img class="header-icon" src="{% static 'images/admin-images/admin-icon.png' %}"
                                 alt="admin icon"/>
                            <a class="link-web" href="{% url 'custom_admin_home' %}">Admin dashboard</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>
</header>