<header id="head-sect">
    <h1 id="web-title">Special<span>List</span></h1>
    <ul class="links-holder">
        <li><a class="link-web" href={% url 'home' %}>Home</a></li>
        <li><a class="link-web" href='#'>About</a></li>
        <li><a class="link-web" href='#'>Explore Services</a></li>
        <li><a class="link-web" href='#'>Chats</a></li>
    </ul>

    <div id='head-buttons-cont'>
        <button class="filled-web-btn">Sign In</button>
        <button class="emp-web-btn">Get Started</button>
    </div>
</header>