<header id="head-sect">
    <h1 class="web-title">Special<span>List</span></h1>
    <nav>
        <ul class="links-holder">
        <li><a class="link-web" href={% url 'home' %}>Home</a></li>
        <li><a class="link-web" href={% url 'about' %}>About</a></li>
        <li><a class="link-web" href='#'>Explore Services</a></li>
        <li><a class="link-web" href='#'>Chats</a></li>
    </ul>
    </nav>

    {% if user.is_authenticated %}
        <div id="head-buttons-cont">
            <p style="color: black">Welcome, {{ user.username }}!</p>
            {% if user.profile_picture %}
                <a href="{% url 'account_view' user.username %}">
                    <img src="{{ user.profile_picture.url }}"
                     alt="{{ user.get_full_name|default:user.username }}">
                </a>
            {% else %}
                {% load static %}
                <a href="{% url 'account_view' user.username %}">
                    <img src="{% static '/images/avatar-default-photo.png' %}"
                     alt="{{ user.get_full_name|default:user.username }}">
                </a>
            {% endif %}
        <button class="emp-web-btn"><a style="color: black; text-decoration: none" href={% url 'logout' %}>Logout</a></button>
        </div>
     {% else %}
        <div id='head-buttons-cont'>
            <button class="filled-web-btn"><a style='text-decoration: none;' href={% url 'register' %}>Sign In</a></button>
        <button class="emp-web-btn">Get Started</button>
    </div>
    {% endif %}
</header>