<article id="profile-side-info-tab-cont">
    <section id="socials-container">
        <div id="social-info-holder">
            <div class="button-links">
                {% if is_owner %}
                    <button class="filled-web-btn"><a href="#">Certificates</a></button>
                    <button class="filled-web-btn"><a href="#">Payments</a></button>
                {% else %}
                    <button class="filled-web-btn"><a href="#">Certificates</a></button>
                {% endif %}
            </div>

            <p>You can also find me at: Social links icons (To be implemented)</p>
            <p>Personal phone number: {{ user.phone_number }}</p>
            <p>Email: {{ user.email }}</p>
            <button id="outline-btn">Message</button>
        </div>

        <div class="img-geo-cont">
            <div class="container">
                <h1>User Locations Map</h1>
                <div id="map" style="height: 600px; width: 100%;"></div>
            </div>
        </div>
    </section>
    <section id="reviews-section">
        <h2>User Reviews</h2>
        <div id="reviews-scroll-container">
            {% include 'user-review.html' with given_reviews=given_reviews %}
        </div>
  </section>
</article>