<article id="second-caption-comp-container">
    <section class="image-section">
        <div class="caption-info">
            <h1>Discover, Connect, and Grow with SpecialList</h1>
            <p>Take the next step in your personal or professional journey by exploring a curated marketplace of services. Whether you're looking to offer your skills or find the right help, our platform empowers you to achieve your goals, build meaningful connections, and become an inspiration to those around you.</p>
            <button class="filled-web-btn">Get Started</button>
        </div>
        {% load static %}
    <img src={% static '/images/second-component-image.png' %}/>
    </section>
    <div class="text-container">
        <h4>More Information</h4>
        <ul>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Campaigns and charities</a></li>
        </ul>
    </div>
</article>