<article id="second-caption-comp-container">
    <section class="image-section">
        <div class="caption-info">
            <h1>Enhance your journey now and explore service offerings</h1>
            <p>Achieve your goals and set new as an inspiration for people around you</p>
            <button class="filled-web-btn">Get Started</button>
        </div>
        {% load static %}
    <img src={% static '/images/second-component-image.png' %}/>
    </section>
    <div class="text-container">
        <h4>More Information</h4>
        <ul>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Campaigns and charities</a></li>
        </ul>
    </div>
</article>