Django==5.2.1
daphne==4.2.1
channels==4.2.2
channels-redis==4.2.1
django-compressor==4.5.1
django-jsonfield==1.4.1
django-stripe-payments==2.0.0
stripe==12.3.0
pdf2image==1.17.0
Pillow==11.2.1
psycopg2-binary==2.9.10
djangorestframework==3.16.0
python-dotenv==1.1.1
libsass==0.23.0
django-libsass==0.9
redis==6.2.0
Faker==37.4.0
asgiref==3.8.1
autobahn==24.4.2
Twisted==25.5.0
cryptography==45.0.5
numpy==2.3.2
pandas==2.3.1
plotly==6.2.0
requests==2.32.4