<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load compress static %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'admin-dashboard/admin-header-comp.scss' %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static 'admin-dashboard/admin_core_info_styles.scss' %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static 'admin-dashboard/admin-home-styles.scss' %}">
    {% endcompress %}
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            background-color: #F0F2F5;

            p, a {
                font-family: "Euclid Circular A", sans-serif;
                font-weight: 500;
                font-size: 1em;
                font-style: normal;
            }
        }

        main#main-web-container {
            margin: 0 auto;
            border-radius: 8px;
            width: 70%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
            align-items: center;
            background-color: white;
        }
    </style>
    <title>SpecialList admin dashboard home</title>
</head>
<body>
{% include 'template-admin-components/admin-header-comp.html' %}
<div class="dashboard-layout">
    <main id="main-web-container">
        {% block content %}
        {% endblock %}
    </main>

    <aside id="user-popup-overlay" class="popup-user-registry hidden">
        <div class="popup-content">
            <div class="popup-header">
                <h3 id="popup-title">Popup</h3>
                <button id="close-popup">&times;</button>
            </div>
            <div class="popup-user-list" id="popup-list">
            </div>
        </div>
    </aside>

</div>

<div id="user-template" class="popup-template hidden">
    {% for user in users %}
        <section class="user-card" data-type="user" data-id="{{ user.id }}">
            <label>
                <input type="checkbox" name="delete-user"/>
                <span>{{ user.get_full_name }} - {{ user.email }}</span>
            </label>
        </section>
    {% endfor %}
</div>

<div id="org-template" class="popup-template hidden">
    {% for org in organizations %}
        <section class="user-card" data-type="organization" data-id="{{ org.id }}">
            <label>
                <input type="checkbox" name="delete-org"/>
                <span>{{ org.name }} - {{ org.member_count }} Members</span>
            </label>
        </section>
    {% endfor %}
</div>

<div id="cert-template" class="popup-template hidden">
    {% for cert in unverified_certs %}
        <section class="user-card" data-type="certificate" data-id="{{ cert.id }}">
            <label>
                <input type="checkbox" name="delete-cert"/>
                <span>{{ cert.user.get_full_name }} - {{ cert.title }}</span>
            </label>
        </section>
    {% endfor %}
</div>

<div id="services-template" class="popup-template hidden">
    {% for service in recent_services %}
        <div class="user-card" data-type="service" data-id="{{ service.id }}">
            <strong>{{ service.title }}</strong><br>
            Provider: {{ service.provider.get_full_name }}<br>
            Created: {{ service.created_at|date:"Y-m-d" }}
        </div>
    {% empty %}
        <p>No recent services found.</p>
    {% endfor %}
</div>

<div id="availabilities-template" class="popup-template hidden">
    {% for availability in availabilities %}
        <div class="user-card" data-type="availability" data-id="{{ availability.id }}">
            Status: {{ availability.status }}<br>
            Service: {{ availability.service.title }}<br>
            Date: {{ availability.date|date:"Y-m-d" }}
        </div>
    {% empty %}
        <p>No availabilities found.</p>
    {% endfor %}
</div>

<div id="comments-template" class="popup-template hidden">
    {% for comment in comments %}
        <div class="user-card" data-type="comment" data-id="{{ comment.id }}">
            "{{ comment.text|truncatechars:50 }}"<br>
            By: {{ comment.author.get_full_name }}<br>
            On: {{ comment.created_at|date:"Y-m-d" }}
        </div>
    {% empty %}
        <p>No comments found.</p>
    {% endfor %}
</div>
<div id="subscriptions-template" class="popup-template hidden">
    {% for sub in subscriptions %}
        <div class="user-card" data-type="subscription" data-id="{{ sub.id }}">
            <p>Subscription {{ sub.plan }}({{ sub.price }}) for: {{ sub.user.get_username }}</p>
            <p>Made on: {{ sub.created_at }}</p>
            <p>Expiration dates: {{ sub.current_period_start }} - {{ sub.current_period_end }}</p>
            <p>Status: {{ sub.status }}</p>
        </div>
    {% empty %}
        <p>No subscriptions found.</p>
    {% endfor %}
</div>
<div id="chats-template" class="popup-template hidden">
    {% for chat in chats %}
        <div class="user-card" data-type="chat" data-id="{{ chat.id }}">
            <p>
                Participants
                {% for user in chat.participants.all %}
                    <small>{{ user.get_username }}</small>
                    <small>{{ user.email }}</small>
                {% endfor %}
            </p>
            <p>Conversation created at: {{ chat.created_at }}</p>
            <p>Last updated: {{ chat.updated_at }}</p>
        </div>
    {% empty %}
        <p>No conversations found.</p>
    {% endfor %}
</div>
<div id="messages-template" class="popup-template hidden">
    {% for message in messages %}
        <div class="user-card" data-type="message" data-id="{{ message.id }}">
            {% if message.content %}
                "{{ message.content.text|truncatechars:50 }}"<br>
            {% else %}
                "{{ message.image }}"<br>
            {% endif %}
            By: {{ message.sender.get_full_name }}<br>
            On: {{ message.timestamp|date:"Y-m-d" }}
        </div>
    {% empty %}
        <p>No messages found.</p>
    {% endfor %}
</div>
<div id="website-review-template" class="popup-template hidden">
    {% for rev in website_reviews %}
        <div class="user-card" data-type="web-rev" data-id="{{ rev.id }}">
            Main caption {{ rev.main_caption }}<br>
            "{{ rev.comment.text|truncatechars:50 }}"<br>
            By: {{ rev.reviewer.get_full_name }}<br>
            On: {{ rev.created_at|date:"Y-m-d" }}
        </div>
    {% empty %}
        <p>No website reviews found.</p>
    {% endfor %}
</div>
<div id="user-review-template" class="popup-template hidden">
    {% for user_rev in user_reviews %}
        <div class="user-card" data-type="user-rev" data-id="{{ user_rev.id }}">
            Main caption {{ user_rev.main_caption }}<br>
            "{{ user_rev.comment.text|truncatechars:50 }}"<br>
            By: {{ user_rev.reviewer.get_full_name }}<br>
            On: {{ user_rev.created_at|date:"Y-m-d" }}
        </div>
    {% empty %}
        <p>No User Reviews found.</p>
    {% endfor %}
</div>

<div id="bookings-template" class="popup-template hidden">
    {% for booking in bookings %}
        <div class="user-card" data-type="booking" data-id="{{ booking.id }}">
            Booking for Service {{ booking.service.title }} from {{ booking.provider.get_username }} for {{ booking.price }}<br>
            Status for the booking: {{ booking.status }} made at {{ booking.appointment_datetime|date:"Y-m-d" }}<br>
             Notes by the user: {{ booking.notes }} <br>
            Booked By: {{ booking.seeker.get_full_name }}<br>
            Service created at: {{ booking.service.created_at|date:"Y-m-d" }}
        </div>
    {% empty %}
        <p>No Bookings found.</p>
    {% endfor %}
</div>

<script src="{% static 'js-scripts/home-side-panel.js' %}"></script>
<script src="{% static 'js-scripts/dashboard-scripts/core-models-handler.js' %}"></script>
</body>
</html>