<div class="pdf-preview-container mb-3">
    {% for service in services %}
        {% if service %}
            <div class="service-mini-cont">
                <div id="top-content">
                    <div class="user-rev-info">

                        {% if service.provider.profile_picture %}
                            <a href="{% url 'account_view' service.provider.username %}">
                                <img src="{{ service.provider.profile_picture.url }}"
                                     alt="{{ service.provider.get_full_name|default:service.provider.username }}">
                            </a>
                        {% else %}
                            {% load static %}
                            <a href="{% url 'account_view' service.provider.username %}">
                                <img src="{% static '/images/avatar-default-photo.png' %}"
                                     alt="{{ service.provider.get_full_name|default:service.provider.username }}">
                            </a>
                        {% endif %}

                        <div class="rev-info-side">
                            <div class="star-rating">
                                {% for i in "12345" %}
                                    <!-- To be implemented -->
                                    <i class="fas fa-star{% if forloop.counter > 1 %} text-muted{% endif %}"></i>
                                {% endfor %}
                            </div>
                            <p>
                                {% if service.provider %}
                                    {{ service.provider.get_full_name|default:service.provider.username }}
                                {% else %}
                                    [Deleted User]
                                {% endif %}
                            </p>

                            <p>Posted on: {{ service.created_at|date:"F j, Y" }}</p>
                        </div>
                    </div>

                    <div class="icon-holder">
                        <button class="add-favorites" data-service-id="{{ service.id }}">
                            {% if user in service.favorite_flagged.all %}
                                <img class="icon-image" src="{% static 'images/flag-full.png' %}"
                                     alt="flag favourite icon filled"/>
                            {% else %}
                                <img class="icon-image" src="{% static 'images/flag-empty.png' %}"
                                     alt="flag favourite icon empty"/>
                            {% endif %}
                            <span class="flag-count-number">{{ service.favorite_flagged.count }}</span>
                        </button>
                    </div>
                </div>

                {% if service.service_photo %}
                    <div class="service-image-cont">
                        <img src="{{ service.service_photo.url }}"
                             alt="{{ service.title }}"
                             id="service-file-preview">
                    </div>
                    <div class="text-service-info">
                        <h2><a href="{% url 'extended_service_display' service.id %}">{{ service.title }}</a></h2>
                        <p>Description: {{ service.description }}</p>
                        <p>Service price (in USD): {{ service.price }}$</p>

                        <div class="bottom-sect-interact"></div>
                        {% if request.user != service.provider %}
                            <button class="book-btn"
                                    data-service-id="{{ service.id }}"
                                    onclick="showBookingModal({{ service.id }})">
                                Book This Service
                            </button>
                        {% endif %}
                        <p>Required time for the offering (in minutes): {{ service.duration_minutes }}</p>

                        <div class="icon-holder">
                            <button class="like-button" data-service-id="{{ service.id }}">
                                {% if user in service.likes.all %}
                                    <img class="icon-image" src="{% static 'images/like-full.png' %}"
                                         alt="like icon filled"/>
                                {% else %}
                                    <img class="icon-image" src="{% static 'images/like-empty.png' %}"
                                         alt="like icon empty"/>
                                {% endif %}
                                <span class="like-count-number clickable">{{ service.likes.count }}</span>
                            </button>
                            <button class="view-likers-button" data-service-id="{{ service.id }}">
                                View likes
                            </button>

                            <button class="comment-button" data-service-id="{{ service.id }}">
                                <img class="icon-image" src="{% static 'images/comment-icon.png' %}"
                                     alt="comment icon"/>
                                <span class="comment-count">{{ service.comments.count }}</span>
                            </button>

                            <div id="likers-modal" class="likers-modal">
                                <div class="modal-content">
                                    <span class="close-likers-btn">&times;</span>
                                    <h2>Liked by</h2>
                                    <div id="liker-list"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% else %}
                    <p>Preview not available</p>
                {% endif %}
            </div>
        {% else %}
            <p>No services to display</p>
        {% endif %}
    {% endfor %}
</div>

{% if request.user == user %}
    <div id="service-options">
        <div class="options">
            <div class="delete-service">
                <h2>Delete Service</h2>
                {% if request.user == user and services.first %}
                    <form method="post" action="{% url 'delete_service' services.first.id %}">
                        {% csrf_token %}
                        <div id="bottom-cont-holder">
                            <h2><a>{{ services.first.title }}</a></h2>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                {% endif %}
            </div>

            <div class="edit-service">
                <h2>Edit Service</h2>
                <div class="content">
                    <p>Edit service details and information</p>
                    <button class="edit-btn">Edit</button>
                </div>
            </div>

            <div class="create-another">
                <h2>Create Another</h2>
                <div class="content">
                    <button id="show-upload-form">Create New Service</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if request.user == user %}
    <div class="upload-service-modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <h3>Create New Service</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-section">
                    <h4>Set Your Availability</h4>
                    {{ availability_form.as_p }}
                    <button type="submit" class="btn">Set Your Availability</button>
                </div>

                <div class="form-section">
                    <h2>Set Weekly Availability</h2>
                    {% include 'partials/_availability_table.html' with formset=formset %}
                </div>

                <div class="form-group">
                    <label for="{{ form.title.id_for_label }}">Service Title:</label>
                    {{ form.title }}
                </div>
                <div class="form-group">
                    <label for="{{ form.description.id_for_label }}">Description:</label>
                    {{ form.description }}
                </div>
                <div class="form-group">
                    <label for="{{ form.service_photo.id_for_label }}">Service Image:</label>
                    {{ form.service_photo }}
                </div>
                <div class="form-group">
                    <label for="{{ form.category.id_for_label }}">Category:</label>
                    {{ form.category }}
                </div>
                <div class="form-group">
                    <label for="{{ form.price.id_for_label }}">Price:</label>
                    {{ form.price }}
                </div>
                <div class="form-group">
                    <label for="{{ form.duration_minutes.id_for_label }}">Duration (minutes):</label>
                    {{ form.duration_minutes }}
                </div>
                <div class="form-group">
                    <label for="{{ form.location.id_for_label }}">Location:</label>
                    {{ form.location }}
                </div>
                <div class="form-group">
                    <label for="{{ form.is_active.id_for_label }}">Active:</label>
                    {{ form.is_active }}
                </div>
                <button type="submit" class="filled-web-btn">Create Service</button>
            </form>
        </div>
    </div>
{% endif %}