<div id="alert-container" style="position: fixed; top: 20px; right: 20px; z-index: 1000;">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
                <button onclick="this.parentElement.remove()">X</button>
            </div>
        {% endfor %}
    {% endif %}
</div>
<section id="filter-buttons">
    <button class="filter-btn {% if current_filters.verified %}filled-web-btn-filter{% else %}emp-web-btn-filter{% endif %}"
            data-filter="verified"
            data-value="true">
        Show Verified
    </button>

    <button class="filter-btn {% if current_filters.freelancers %}filled-web-btn-filter{% else %}emp-web-btn-filter{% endif %}"
            data-filter="freelancers"
            data-value="true">
        Show Freelancers
    </button>

    <div class="dropdown">
        <button class="filter-btn dropdown-toggle {% if current_filters.price_range %}filled-web-btn-filter{% else %}emp-web-btn-filter{% endif %}"
                type="button"
                id="priceRangeDropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            Price Range
        </button>
        <div class="dropdown-menu" aria-labelledby="priceRangeDropdown">
            <a class="dropdown-item price-range" href="#" data-value="0-50">$0 - $50</a>
            <a class="dropdown-item price-range" href="#" data-value="50-100">$50 - $100</a>
            <a class="dropdown-item price-range" href="#" data-value="100-200">$100 - $200</a>
            <a class="dropdown-item price-range" href="#" data-value="200-500">$200 - $500</a>
            <a class="dropdown-item price-range" href="#" data-value="500-1000">$500 - $1000</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="filter-btn popup-toggle {% if current_filters.location %}filled-web-btn-filter{% else %}emp-web-btn-filter{% endif %}"
                type="button"
                id="locationPopup"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            Location
        </button>
        <div class="location-popup" aria-labelledby="locationPopup">
            <form method="get" action="{% url 'explore_services' %}">
                <label for="location-entry">Specify location in the format Country/(city, province, village
                    etc.)</label>
                <input type="text"
                       name="location"
                       id="location-entry"
                       value="{{ current_filters.location|default:'' }}"
                       placeholder="e.g. Bulgaria/Sofia"/>

                {% if current_filters.verified == 'true' %}
                    <input type="hidden" name="verified" value="true">
                {% endif %}

                {% if current_filters.freelancers == 'true' %}
                    <input type="hidden" name="freelancers" value="true">
                {% endif %}

                {% if current_filters.price_range %}
                    <input type="hidden" name="price_range" value="{{ current_filters.price_range }}">
                {% endif %}
                <button type="submit" class="filled-web-btn-filter">Search</button>
            </form>
        </div>
    </div>
</section>
<div class="pdf-preview-container mb-3">
    {% if services %}
        {% for service in services %}
            <div class="service-mini-cont">
                <div id="top-content">
                    <div class="user-rev-info">
                        {% if service.provider.profile_picture %}
                            <a href="{% url 'account_view' service.provider.username %}">
                                <img src="{{ service.provider.profile_picture.url }}"
                                     alt="{{ service.provider.get_full_name|default:service.provider.username }}">
                                {% if service.provider.is_verified %}
                                    {% load static %}
                                    <img id="verify-logo" src="{% static 'images/verify.png' %}"
                                         alt="verify logo"/>
                                {% else %}
                                    Pending verification
                                {% endif %}
                            </a>
                        {% else %}
                            {% load static %}
                            <a href="{% url 'account_view' service.provider.username %}">
                                <img src="{% static '/images/avatar-default-photo.png' %}"
                                     alt="{{ service.provider.get_full_name|default:service.provider.username }}">
                            </a>
                        {% endif %}

                        <div class="rev-info-side">
                            <div class="star-rating">
                                {% for i in "12345" %}
                                    <i class="fas fa-star{% if forloop.counter > 1 %} text-muted{% endif %}"></i>
                                {% endfor %}
                            </div>
                            <p>
                                {% if service.provider %}
                                    {{ service.provider.get_full_name|default:service.provider.username }}
                                {% else %}
                                    [Deleted User]
                                {% endif %}
                            </p>

                            <p>Posted on: {{ service.created_at|date:"F j, Y" }}</p>
                        </div>
                    </div>

                    <div class="icon-holder">
                        <button class="add-favorites" data-service-id="{{ service.id }}">
                            {% if user in service.favorite_flagged.all %}
                                <img class="icon-image" src="{% static 'images/flag-full.png' %}"
                                     alt="flag favourite icon filled"/>
                            {% else %}
                                <img class="icon-image" src="{% static 'images/flag-empty.png' %}"
                                     alt="flag favourite icon empty"/>
                            {% endif %}
                            <span class="flag-count-number">{{ service.favorite_flagged.count }}</span>
                        </button>
                        <button class="report-service" data-service-id="{{ service.id }}">
                            <img class="icon-image" src="{% static 'images/report-icon.png' %}"
                                 alt="flag reported content icon"/>
                            <span class="flag-count-number">{{ service.favorite_flagged.count }}</span>
                        </button>
                    </div>
                </div>

                {% if service.service_photo %}
                    <div class="service-image-cont">
                        <img src="{{ service.service_photo.url }}"
                             alt="{{ service.title }}"
                             id="service-file-preview">
                    </div>
                    <div class="text-service-info">
                        <h1><a href="{% url 'extended_service_display' service.id %}">{{ service.title }}</a></h1>
                        <p>Description: {{ service.description }}</p>
                        <p>Service price (in USD): {{ service.price }}$</p>
                        <p>Required time for the offering (in minutes): {{ service.duration_minutes }}</p>

                        <div class="icon-holder">
                            <button class="like-button" data-service-id="{{ service.id }}">
                                {% if user in service.likes.all %}
                                    <img class="icon-image" src="{% static 'images/like-full.png' %}"
                                         alt="like icon filled"/>
                                {% else %}
                                    <img class="icon-image" src="{% static 'images/like-empty.png' %}"
                                         alt="like icon empty"/>
                                {% endif %}
                                <span class="like-count-number clickable">{{ service.likes.count }}</span>
                            </button>
                            <button class="view-likers-button" data-service-id="{{ service.id }}">
                                View likes
                            </button>

                            <button class="comment-button" data-service-id="{{ service.id }}">
                                <img class="icon-image" src="{% static 'images/comment-icon.png' %}"
                                     alt="comment icon"/>
                                <span class="comment-count">{{ service.comments.count }}</span>
                            </button>

                            <div id="likers-modal" class="likers-modal">
                                <div class="modal-content">
                                    <span class="close-likers-btn">&times;</span>
                                    <h2>Liked by</h2>
                                    <div id="liker-list"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% else %}
                    <p>Preview not available</p>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class="not-found">
            <p>No services to display</p>
            <img src="{% static 'images/not-found.png' %}" alt="not found resources for this webpage"/>
        </div>
    {% endif %}
</div>

{% if request.user == user %}
    <div id="service-options" data-can-create-more="{{ can_create_more|yesno:'true,false' }}">
        <div class="options">
            <div class="delete-service">
                <h2>Delete Service</h2>
                <select id="service-to-delete">
                    {% for service in user_services %}
                        <option value="{% url 'delete_service' service.id %}">{{ service.title }}</option>
                    {% endfor %}
                </select>
                <form method="post" id="delete-service-form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>

            <div class="edit-service">
                <h2>Edit Service</h2>
                <select id="service-to-edit">
                    {% for service in user_services %}
                        <option value="{{ service.id }}">{{ service.title }}</option>
                    {% endfor %}
                </select>
                <button class="edit-btn">Edit</button>
            </div>

            <div class="create-another">
                <h2>Create Another</h2>
                <div class="content">
                    <button id="show-upload-form">Create New Service</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if request.user == user %}
    <div class="upload-service-modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <h3>Create New Service</h3>
            <form method="post" enctype="multipart/form-data" id="service-creation-form"
                  action="{% url 'explore_services' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.title.id_for_label }}">Service Title:</label>
                    {{ form.title }}
                    {{ form.title.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.description.id_for_label }}">Description:</label>
                    {{ form.description }}
                    {{ form.description.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.service_photo.id_for_label }}">Service Image:</label>
                    {{ form.service_photo }}
                    {{ form.service_photo.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.category.id_for_label }}">Category:</label>
                    {{ form.category }}
                    {{ form.category.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.price.id_for_label }}">Price:</label>
                    {{ form.price }}
                    {{ form.price.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.duration_minutes.id_for_label }}">Duration (minutes):</label>
                    {{ form.duration_minutes }}
                    {{ form.duration_minutes.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.location.id_for_label }}">Location:</label>
                    {{ form.location }}
                    {{ form.location.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.is_active.id_for_label }}">Active:</label>
                    {{ form.is_active }}
                    {{ form.is_active.errors }}
                </div>

                {% if form.errors %}
                    <div class="form-errors">
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <button type="submit" name="create_service" class="filled-web-btn">Create Service</button>
            </form>
        </div>
    </div>
{% endif %}