$main-web-color: #ece1e1;
$secondary-web-color: #06BAC5;
$complementary-color: #072C3C;
$additional_web_color: #008DAA;
$eccentric-color: #32AE88;
$testimonials-bg-color: #072C3C;
$partners-carousel: #FDFBFB;