@import "../utils/web_colors.scss";
@import "../utils/general-web-mixins/main-web-utls.scss";
@import "../utils/general-web-mixins/main-button-mixin.scss";

body {
  background-color: $secondary-web-color !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  main#form-container {
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    margin: 10rem auto;

    div.info-holder {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    div.image-cont {
      align-self: flex-start;

      img#web-img {
        width: 200px;
        height: auto;
      }
    }

    section.text-content {
      h2 {
        @include web-title-special($pref-font-size: clamp(2em, 2.3em, 3em), $pref-font-st: normal);
      }

      p {
        @include def-web-text($pref-font-size: clamp(1em, 1.5em, 2em), $pref-font-st: italic);
      }

      form {
        margin: 30px;

        input[type='email'] {
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 6px;
          @include def-web-text($pref-font-size: 1em);
          width: 100%;
          box-sizing: border-box;

          &:focus {
            outline: none;
            border-color: $eccentric-color;
            box-shadow: 0 0 0 2px rgba($main-web-color, 0.2);
          }

          p {
            margin-bottom: 10px;
          }
        }

        button.filled-web-btn {
          text-align: center;
          @include main-button($arg-width: 70%, $arg-height: 4rem, $arg-bg-color: $additional_web_color, $txt-color: $main-web-color);
          padding: 0;
          margin: 30px;
          border-radius: 8px;
          font-size: 1.3em;
          border: 2px solid $main-web-color;

          a {
            text-decoration: none;
            color: white;
            font-weight: 500;
            display: block;
            padding: 0 20px;
            line-height: 45px;
          }

          &:hover {
            transform: translateY(-2px);
            transition: transform 0.2s linear;
          }
        }
      }
    }
  }
}