<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static compress %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'password-styles/password-reset.scss' %}"/>
    {% endcompress %}
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            background-color: white;

            p, a {
                font-family: "Euclid Circular A", sans-serif;
                font-weight: 500;
                font-size: 1em;
                font-style: normal;
                color: black;
            }
        }
    </style>
    <title>Reset Password</title>
</head>
<body>
<main id="form-container">
    <div class="info-holder">
        <div class="image-cont">
            <img id="web-img" src="{% static 'images/SpecialListLogo.png' %}" alt="SpecialList Logo"/>
        </div>

        <section class="text-content">
            <h2>Forgot your password?</h2>
            <p>Enter your email and we'll send you a link to reset it.</p>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="filled-web-btn">Send reset email</button>
            </form>
        </section>
    </div>
</main>
</body>
</html>