@import "../../utils/web_colors.scss";
@import "../../utils/general-web-mixins/main-web-utls.scss";
@import "../../utils/general-web-mixins/main-button-mixin.scss";

article#profile-info-section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;

  .profile-column-left {
    width: 30%;
    position: relative;

    #profile-pics-holder {
      position: sticky;
      top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      #profile-background {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 12px;
      }

      #profile-image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        margin-top: -40px;
        margin-left: 20px;
        border: 3px solid white;
      }

      #profile-namings {
        padding: 0 20px;

        h3 {
          @include web-title-special($pref-font-size: 1.8em, $pref-font-st: normal);
          margin-left: 0;
          padding: 0;
        }

        p {
          @include def-web-text($pref-font-size: 1.2em, $pref-font-st: normal);
          font-weight: 300;
          color: $secondary-web-color;
        }
      }
    }
  }

  .profile-column-right {
    width: 30%;

    #side-info {
      display: flex;
      flex-direction: column;
      gap: 25px;

      p {
        @include def-web-text($pref-font-size: 1.1em, $pref-font-st: normal);
        line-height: 1.6;
      }

      button.filled-web-btn {
        @include main-button($arg-width: 80%, $arg-height: 45px, $arg-bg-color: $additional_web_color, $txt-color: $main-web-color);
        border-radius: 8px;
        font-size: 1.1em;
        font-weight: 500;
        border: 2px solid $main-web-color;

        &:hover {
          transform: translateY(-2px);
          transition: transform 0.2s linear;
        }
      }

      .expand-info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .organization-logos {
          display: flex;
          flex-wrap: wrap;
          gap: 15px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid #eee;
          }
        }
      }
    }
  }
}