<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load compress static %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'core/homepage/home-header-style.scss' %}">
        <link rel="stylesheet" type="text/x-scss"
              href="{% static 'core/profile-view-styles/profile-tabs-views/account-certificates.scss' %}">
        <link rel="stylesheet" type="text/x-scss"
              href="{% static 'core/profile-view-styles/profile-tabs-views/certificates-display-styles.scss' %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static 'core/homepage/footer-styles.scss' %}">
    {% endcompress %}

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            background-color: white;

            p, a {
                font-family: "Euclid Circular A", sans-serif;
                font-weight: 500;
                font-size: 1em;
                font-style: normal;
                color: white;
            }
        }
    </style>
    <title>{{ user.username }} Certificates page</title>
</head>
<body>
{% include 'template-components/header-comp.html' %}

<h1>{{ user.full_name }} Certificates Page!</h1>

<main id="certificates-container">
    <article id="certificates">
        <div class="certificates-list">
            {% for certificate in certificates %}
                <div class="certificate-item" data-certificate-title="{{ certificate.title }}" data-preview-url="
                        {% if certificate.preview_image %}{{ certificate.preview_image.url }}{% endif %}">
                    <h4>{{ certificate.title }}</h4>
                    <p>Uploaded: {{ certificate.uploaded_at|date:"F j, Y" }}</p>
                    <p>{% if certificate.is_verified %}Verified
                        <img id="verify-logo" src="{% static 'images/verify.png' %}" alt="verify logo"/>{% else %}
                        Pending verification{% endif %}</p>
                </div>
            {% empty %}
                <p>No certificates uploaded yet.</p>
            {% endfor %}
        </div>
    </article>

    <article id="certificate-display">
        {% include 'core/accounts/account-tabs/certificates-display.html' %}
    </article>
</main>

{% include 'template-components/footer.html' %}

<script src="{% static 'js-scripts/profile-scripts/certificate-change-script.js' %}"></script>
<script src="{% static 'js-scripts/profile-scripts/certificate-options-handler.js' %}"></script>
</body>
</html>