@import "../../utils/web_colors.scss";
@import "../../utils/general-web-mixins/main-web-utls.scss";
@import "../../utils/general-web-mixins/main-button-mixin.scss";

article.flip-component {
  margin-top: 10rem;

  section.flip-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    width: 100%;

    div.flip-text {
      h2.heading-text-sec-caption {
        @include web-title-special($pref-font-size: 2.5em, $pref-font-st: normal);
      }
      p {
        font-size: 1.5rem;
        text-align: start;
        line-height: 40px;
        padding: 30px;
      }
      width: 30%;
    }

    div.flip-media {
      width: 30%;
      height: auto;

      img {
        object-fit: contain;
        width: 100%;
        display: inline-block;
      }
    }
  }
}

article.flip-component.flip--reversed {
  section.flip-content {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}
