@import "../../utils/web_colors.scss";
@import "../../utils/general-web-mixins/main-web-utls.scss";
@import "../../utils/general-web-mixins/main-button-mixin.scss";

article.flip-component {
  section.flip-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    width: 100%;

    div.flip-text {
      h2.heading-text-sec-caption {
        color: white;
        @include web-title-special($pref-font-size: 2.5em, $pref-font-st: normal);
        opacity: 0.7;
      }
      p {
        text-align: start;
        opacity: 0.7;
        line-height: 30px;
        padding: 30px;
      }
      width: 30%;
    }

    div.flip-media {
      width: 30%;
      height: auto;

      img {
        object-fit: contain;
        width: 100%;
        display: inline-block;
      }
    }
  }
}

article.flip-component.flip--reversed {
  section.flip-content {
    flex-direction: row-reverse;
  }
}
