@import "../../utils/web_colors.scss";
@import "../../utils/general-web-mixins/main-web-utls.scss";
@import "../../utils/general-web-mixins/main-button-mixin.scss";

footer#foot-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  background-color: $testimonials-bg-color;

  h1#foot-title {
    @include web-title-special($pref-font-size: 6.5em, $pref-font-st: normal);
    color: white;
  }
  span {
    color: $additional_web_color;
  }

  div.foot-invoices {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;

    h2 {
      color: white;
      @include web-title-special($pref-font-size: 2.5em, $pref-font-st: normal);
    }

    hgroup.links-section {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 30px;

      h3 {
        a {
          display: block;
          @include def-web-text($pref-font-size: clamp(1.4em, 1.6em, 2em), $pref-font-st: normal);
          text-decoration: none;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  footer#foot-section {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}