@import "../../utils/web_colors.scss";
@import "../../utils/general-web-mixins/main-web-utls.scss";
@import "../../utils/general-web-mixins/main-button-mixin.scss";

.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px 20px;
  border-radius: 5px;
  color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s, fadeOut 0.5s 2.5s forwards;
  @include def-web-text($pref-font-size: 1.3em, $pref-font-st: italic);
}

.alert-success {
  background-color: #4CAF50;
}

.alert-error {
  background-color: #f44336;
}

.alert-info {
  background-color: #2196F3;
}

.alert-warning {
  background-color: #ff9800;
}

.alert button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-left: 15px;
}

@keyframes slideIn {
  from { transform: translateX(50%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

article#gold-part-carousel {
  margin-top: 20rem;

  div#carousels-holder {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  div#section-text-holder {
    padding: 10px;
    text-align: center;
    h1 {
      @include web-title-special($pref-font-size: 2.5em, $pref-font-st: normal);
    }
    p {
      @include def-web-text($pref-font-size: 1.7em, $pref-font-st: normal);
      color: black;
    }
  }
}

@media (min-width: 600px) {
  article#gold-part-carousel {
  div#section-text-holder {
    h1 {
      @include web-title-special($pref-font-size: 3.5em, $pref-font-st: normal);
    }
    p {
      @include def-web-text($pref-font-size: 1.6em, $pref-font-st: normal);
    }
  }
}
}