<section id="reviews-for-user">
    <div id="reviews-scroll-container">
        {% if reviews_given %}
            {% for user_review in reviews_given %}
                <section class="review-card" id="review-{{ user_review.id }}">
                    <div class="user-rev-info">
                        {% if user_review.reviewer.profile_picture %}
                            <a href="{% url 'account_view' user_review.reviewer.username %}">
                                <img src="{{ user_review.reviewer.profile_picture.url }}"
                                     alt="{{ user_review.reviewer.get_full_name|default:user_review.reviewer.username }}">
                            </a>
                        {% else %}
                            {% load static %}
                            <a href="{% url 'account_view' user_review.reviewer.username %}">
                                <img src="{% static '/images/avatar-default-photo.png' %}"
                                     alt="{{ user_review.reviewer.get_full_name|default:user_review.reviewer.username }}">
                            </a>
                        {% endif %}

                        <div class="rev-info-side">
                            <div class="star-rating">
                                {% for i in "12345" %}
                                    <i class="fas fa-star{% if forloop.counter > user_review.rating %} text-muted{% endif %}"></i>
                                {% endfor %}
                            </div>
                            <p>
                                {% if user_review.reviewer %}
                                    {{ user_review.reviewer.get_full_name|default:user_review.reviewer.username }}
                                {% else %}
                                    [Deleted User]
                                {% endif %}
                            </p>
                            <p>Posted on: {{ user_review.created_at|date:"F j, Y" }}</p>
                        </div>
                        <button class="report-review" data-review-id="{{ user_review.id }}">
                            <img class="icon-image" src="{% static 'images/report-icon.png' %}" alt="Report user review icon"/>
                        </button>
                    </div>

                    <div class="review-main-cont">
                        <p>{{ user_review.comment }}</p>
                    </div>

                    {% if request.user == user_review.reviewer %}
                        <div class="bottom-section-edit">
                            <button type="submit" data-username="{{ user_review.reviewee.username }}"
                                    data-review-id="{{ user_review.id }}" class="filled-web-btn edit-rev">Edit Review
                            </button>

                            <form action="{% url 'delete_user_review' request.user.username user_review.id %}"
                                  method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="emp-web-btn delete-rev">Delete Review</button>
                            </form>
                        </div>
                    {% endif %}
                </section>

            {% endfor %}
        {% else %}
            <div class="not-found">
                <p>No reviews for this user. Be the first to review!</p>
                <img src="{% static 'images/not-found.png' %}" alt="not found resources for this webpage"/>
            </div>
        {% endif %}
    </div>
</section>
