<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load compress static %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'core/homepage/home-header-style.scss' %}">
    {% endcompress %}
<style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

    p, a {
        font-family: "Euclid Circular A", sans-serif;
        font-weight: 500;
        font-size: 1em;
        font-style: normal;
        color: white;
      }
}
</style>
    <title>SpecialList</title>
</head>
<body>
    {% include 'template-components/header-comp.html' %}
</body>
</html>