<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load compress static %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'core/homepage/home-header-style.scss' %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static 'core/homepage/first-caption-comp-styles.scss' %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static 'core/homepage/home-main-controll.scss' %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static 'core/homepage/flip-component-styles.scss' %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static 'core/homepage/subscription-card.scss' %}">
    {% endcompress %}
<style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
    background-color: white;

    p, a {
        font-family: "Euclid Circular A", sans-serif;
        font-weight: 500;
        font-size: 1em;
        font-style: normal;
        color: white;
      }
}

main#main-web-container {
    width: 100%;
    height: auto;
    background-color: #001E2B;
}
</style>
    <title>SpecialList</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
            <button onclick="this.parentElement.remove()">X</button>
        </div>
        {% endfor %}
    {% endif %}

    {% include 'template-components/header-comp.html' %}
    {% include "template-components/first-caption-comp.html" %}

    <main id="main-web-container">
        {% load flip_tags %}
        {% flip_component image='images/flip-component-image.png' heading="Connect with Professionals or Promote Your Services — All in One Place" text="Experience a seamless platform designed for both individuals and businesses. Whether you're offering services or seeking skilled professionals, SpecialList enables efficient and trustworthy interactions." flip=True%}

        <article id="cards-container">
            {% load card_tags list_utils %}
            {% card_component title='1. Basic Plan — “Starter”' subtitle_pricing='price: 9.99$/month' subscription_caption='Features Included in the plan: ' list_of_features="Offer 3 active services, Appear in standard search results, Receive and manage up to 5 bookings/month, Access to basic analytics"|to_list %}
            {% card_component title='2. Professional Plan — “Growth”' subtitle_pricing='price: 29.99$/month' subscription_caption='Includes all Basic features, plus: ' list_of_features="Up to 10 active service listings, Priority placement in search results, Unlimited bookings, Full analytics dashboard"|to_list %}
            {% card_component title=' 3. Business Plan — “Elite”' subtitle_pricing='price: 79.99$/month' subscription_caption='Includes all Professional features, plus: ' list_of_features="Unlimited listings, Featured badge and homepage spotlight, Early access to new features, Become eligible for gold partner"|to_list %}
        </article>
    </main>

    <article id="website-testimonials">
        {% load review_tag %}
        {% show_reviews limit=4 %}
    </article>
</body>
</html>