<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load compress static %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'core/homepage/home-header-style.scss' %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static 'core/homepage/first-caption-comp-styles.scss' %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static 'core/homepage/home-main-controll.scss' %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static 'core/homepage/flip-component-styles.scss' %}">
    {% endcompress %}
<style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

    p, a {
        font-family: "Euclid Circular A", sans-serif;
        font-weight: 500;
        font-size: 1em;
        font-style: normal;
        color: white;
      }
}

main#main-web-container {
  width: 100%;
    height: 100vh;
  background-image: url("{% static 'images/home-vector.png' %}");
    background-size: cover;
background-repeat: no-repeat;
}
</style>
    <title>SpecialList</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
            <button onclick="this.parentElement.remove()">X</button>
        </div>
        {% endfor %}
    {% endif %}

    {% include 'template-components/header-comp.html' %}
    {% include "template-components/first-caption-comp.html" %}
    <main id="main-web-container">
        {% load flip_tags %}
        {% flip_component image='images/flip-component-image.png' heading="Connect with Professionals or Promote Your Services — All in One Place" text="Experience a seamless platform designed for both individuals and businesses. Whether you're offering services or seeking skilled professionals, SpecialList enables efficient and trustworthy interactions." flip=True%}
    </main>
</body>
</html>