{% load custom_filters %}
<table class="availability-table">
    <thead>
    <tr>
        <th>Time</th>
        {% for day_number, day_name in days %}
            <th>{{ day_name }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for start, end in time_ranges %}
        <tr>
            <td>{{ start|time:"H:i" }} - {{ end|time:"H:i" }}</td>
            {% for day_number, _ in days %}
                {% with start_str=start|time:"H:i:s" end_str=end|time:"H:i:s" %}
                    {% with key=day_number|stringformat:"s"|add:"_"|add:start_str|add:"_"|add:end_str %}
                        {% with slot=slots_by_key|dict_key:key %}
                            {% if slot %}
                                <td>
                                    {% if slot.is_booked %}
                                        Booked
                                    {% else %}
                                        Available
                                    {% endif %}
                                </td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
                {% endwith %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
